{% extends "base.html" %}

{% block title %}Gallery - scannerGallery{% endblock title %}

{% block content %}
<h1>Image List</h1>
{% if image_list %}
  <span id = 'test'></span>
  <ul>
    {% for image in image_list %}
    <div class="card" style="width: 18rem;">
        <img src= {{ image.image_url }} class="card-img-top" id = "image" alt="Card image cap" >
        <div class="card-body">
          <h5 class="card-title">{{ image.name }}</h5>
          <p class="card-text">{{ image.description }}</p>
          <a href="{{ image.get_absolute_url }}" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    {% endfor %}
  </ul>
{% else %}
  <p>There are no images in the Gallery.</p>
{% endif %}

{% endblock %}
